body {
    margin: 0;
    font: 14px/1.4 sans-serif;
}
input, textarea {
    font-size: inherit;
    font-family: monospace;
}

button {
    cursor: pointer;
}

table {
    border-collapse: collapse;
    min-width: 100%;
}

table thead td {
    border: none;
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
}
tr.labels td {
    background: #008bb9;
    color: white;
}
td {
    padding: .1em .3em;
    border: 1px solid #aaa;
}

.loading-indicator {
    position: absolute;
    top: 5px;
    right: 5px;
}

.error {
    padding: .5em;
    background: #a00;
    color: #fdd;
}

.display-error {
    background: pink;
    padding: 10px;
}

.app {
}

.content {
    padding: 10px;
}

.navigation {
    background: #336791;
    height: 40px;
    padding: 0 10px;
    display: flex;
    align-items: stretch;
}

.navigation .database-selector {
    align-self: center;
}

.navigation a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 0 10px;
    margin: 4px 0 0 10px;
    display: flex;
    align-items: center;
}

.navigation a:hover {
    background: #134771;
}

.navigation .current, .navigation .current:hover {
    background: white;
    color: black;
}

.query-textarea-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.query-container textarea {
    align-self: stretch;
    margin-bottom: 5px;
    padding: 5px;
}

.query-container textarea:focus {
}

.query-controls button {
    margin-right: 10px;
}

.query-controls .history-select {
    max-width: 130px;
}

.query-result-container {
    margin-top: 30px;
}

.paginator {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.paginator > * {
    margin-right: 5px;
}

.paginator .paginator__chunks {
    margin-left: 10px;
}

.paginator .paginator__chunks span {
    margin-right: 5px;
}

.paginator .paginator__truncate {
    margin-left: 10px;
}

.paginator .paginator__truncate span {
    margin-right: 5px;
}

.paginator .paginator__filter {
    flex: 1;
    text-align: right;
}

.paginator .paginator__filter select {
    margin-right: 5px;
}
