body {
    font: 15px/1.5 sans-serif;
    background: #222;
    color: #ccc;
}
a:link {
    color: #58f;
    text-decoration: none;
}
a:visited {
    color: #36e;
}
a:hover {
    text-decoration: underline;
}
hr {
    border: none;
    border-top: 1px solid #000;
    border-bottom: 1px solid #333;
}
input {
    font: inherit;
    background: #181818;
    border: 1px solid #444;
    padding: .2em .5em;
    color: #ccc;
}

button {
    font: inherit;
    background: #2a2a2a;
    padding: .2em .5em;
    border: 1px solid #333;
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .5);
    border-radius: 3px;
    color: #ccc;
}
button:hover {
    background: #333;
}

.logo {
    float: right;
    text-decoration: none;
    display: inline-block;
    transition: .1s;
}
.logo:hover {
    transition: 2s;
    transform: rotate(-.2turn);
    text-decoration: none;
}

table {
    border-collapse: collapse;
}
tr.labels td {
    color: #c85;
}
th {
    background: #1a1a1a;
}
td {
    padding: .1em .3em;
    border: 1px solid #444;
}

.error {
    padding: .5em;
    background: #700;
    color: #fdd;
    border-radius: 5px;
    box-shadow: 0 1px 3px black;
}
