body {
    margin: 0;
    font: 14px/1.4 sans-serif;
}
input, textarea {
    font-size: 16px;
    font-family: monospace;
}

button {
    min-width: 35px;
    font: inherit;
    cursor: pointer;
}

table {
    font-family: monospace;
    border-collapse: collapse;
}
tr.labels td {
    color: green;
}
td {
    padding: .1em .3em;
    border: 1px dashed #888;
}

.error {
    padding: .5em;
    background: #700;
    color: #fdd;
    border-radius: 5px;
    box-shadow: 0 1px 3px black;
}

.app {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
}

.sidebar {
    border-right: 10px solid limegreen;
    padding: 10px;
    width: 300px;
    overflow-y: auto;
    transition: .2s;
    margin-left: -320px;
}

[data-sidebar="open"] .sidebar {
    margin-left: 0;
}

.content {
    flex: 1;
}

.query-container {
    display: flex;
    align-items: flex-start;
    padding: 10px;
    background: #def;
}

.query-container textarea {
    flex: 1;
}

.query-container textarea:focus {
    outline: none;
    background: #fed;
}

.query-result-container {
    padding: 10px;
}
