{{define "body"}}
<h1>
    {{.dbName}}
</h1>
<script>
function yousure() {
    return confirm(`Are you sure you want to delete this database including its
            {{len .tables}} tables? It can not be undone!`)
}
</script>
<form action=/db/delete method=POST onsubmit="return yousure()">
    <input name=dbName type=hidden value={{.dbName}} />
    <button type=submit>Delete database</button>
</form>

<hr />

<table>
    <tbody>
        {{range $tableName, $fields := .tables}}
        <tr>
            <th colspan=4>{{$tableName}}</th>
        </tr>
        <tr class=labels>
            <td>Column name</td>
            <td>Data type</td>
            <td>Nullable</td>
            <td>Default</td>
        </tr>
        {{range $_, $f := $fields}}
        <tr>
            <td>{{$f.ColumnName}}</td>
            <td>{{$f.UdtName}}</td>
            <td>{{$f.IsNullable}}</td>
            {{if $f.ColumnDefault.Valid}}
            <td>{{$f.ColumnDefault.String}}</td>
            {{else}}
            <td></td>
            {{end}}
            </tr>
        {{end}}
        {{end}}
    </tbody>
</table>

{{end}}
