{{define "html"}}
<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width">
        <meta charset='utf-8'>
        {{if .title}}
        <title>{{.title}}</title>
        {{else}}
        <title>pg amigo</title>
        {{end}}
        <link rel=stylesheet href=/static/styles.css />
    </head>
    <body>
        {{if .error}}
        <div class=error>
            <span>{{.error}}</span>
        </div>
        {{end}}
        <h1 class=header>
            <a href=/ class=logo>👨</a>
        </h1>
        <div class=container>
            {{template "body" .}}
        </div>
    </body>
</html>
{{end}}
